.container-artist {
    margin: 10px 25px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-auto-columns: minmax(300px, auto);
    grid-template-areas: "a a a";
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    overflow: hidden;
}

.main .artist-box {
    grid-area: 'a';
}

.artist-box {
    background-color: rgba(255,255,255,0.1);
    transition:0.3s;
    border-radius: 5px; 
}

.artist-box:hover {
    background-color: rgba(255,255,255,0.2);
}

.artist-box > .grid {
    margin: 10px 15px;
    height: 85%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    grid-template-areas: 
    "singer"
    "btn";
}

.artist-box > .singer {
    grid-area: "singer";
}
.artist-box > .subs {
    grid-area: "btn";
}
.artist-box > .open {
    grid-area: "btn";
}

.artist-box > .grid > .btn {
    border: none;
    padding:15px;
    width: 100px;
    height: 50px;
    border-radius:35px;
    background-color: #1ED760 ;
    margin: 0;
    font-weight: 800;
    transition-duration: 0.4s;
    opacity: 50%;
}

.artist-box > .grid > .btn:hover {
    width:110px;
    height:50px;
    background-color: #50DE82;
}

.artist-box:hover .btn {
    opacity:100%;
}